.button{
    background-color: rgb(60, 60, 60);
    height:40px;
    width:256px;
    margin-top: 600px;
    margin-left:-570px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    opacity: 0.85;
    color:white;
    margin-left: -180px;
}

.buttons a{
    text-decoration: none;
    color:white;
    font-size: 12px;
    text-align: center;
    
}

.button_white{
    background-color: white;
    opacity: 0.65;
    margin-left: 20px;
}

.button_white a{
    color:black;
    font-weight: 500;
}
/* .button_uno{
    color:red;
    font-weight: 500;
} */
